.speech {font-family: Times; font-size: 15; color: black;}
.direction {font-family: Arial; font-size: 20;}
.name {font-family: sans-serif; font-size: 12; color: black;}

.direction:hover {color: black; background-color: aquamarine;}
.name:hover{text-shadow: 2px 3px 5px purple; border: 3px solid blue;}

.octave{color: red;}
.scapin{color: blue;}

.table{ border: solid 3px black; text-align: center;
        margin: 0px; padding: 0px;}
tr:nth-child(odd)
    { background-color: aqua;}
tr:nth-child(even)
    { background-color: orange;}